@import "tailwindcss";

@layer base {
  body {
    background-color: #ff3e00 !important; /* Rosso Segnale */
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/* Effetto di inversione pazzesco */
.mix-difference {
  mix-blend-mode: difference;
}